<ocx-portal-page
  permission="AI_PROVIDER#VIEW"
  [helpArticleId]="'AI_PROVIDER_DETAILS.HELP_ARTICLE_ID' | translate"
  *ngrxLet="viewModel$; let vm"
>
  <ocx-page-header
    [header]="'AI_PROVIDER_DETAILS.HEADER' | translate"
    [subheader]="'AI_PROVIDER_DETAILS.SUB_HEADER' | translate"
    [actions]="(headerActions$ | async) ?? []"
    [disableDefaultActions]="true"
    [manualBreadcrumbs]="true"
  >
  </ocx-page-header>
  <ocx-page-content>
    <div class="surface-section mt-3 mb-1 mx-3">
      <form [formGroup]="formGroup" errorTailor>
        <div class="mt-3 mb-1">
          <span class="p-float-label mb-1" controlErrorAnchor>
            <input
              pInputText
              type="text"
              id="aIProvider_detail_name"
              class="w-full pt-3 pb-2 text-responsive"
              formControlName="name"
            />
            <label class="ocx-required-label" for="aIProvider_detail_name">
              {{ 'AI_PROVIDER_DETAILS.FORM.NAME' | translate }}
            </label>
          </span>
        </div>
        <div class="mt-3 mb-1">
          <span class="p-float-label mb-1" controlErrorAnchor>
            <input
              pInputText
              type="text"
              id="aIProvider_detail_description"
              class="w-full pt-3 pb-2 text-responsive"
              formControlName="description"
            />
            <label class="ocx-required-label" for="aIProvider_detail_description">
              {{ 'AI_PROVIDER_DETAILS.FORM.DESCRIPTION' | translate }}
            </label>
          </span>
        </div>
        <div class="mt-3 mb-1">
          <span class="p-float-label mb-1" controlErrorAnchor>
            <input
              pInputText
              type="text"
              id="aIProvider_detail_llmUrl"
              class="w-full pt-3 pb-2 text-responsive"
              formControlName="llmUrl"
            />
            <label class="ocx-required-label" for="aIProvider_detail_llmUrl">
              {{ 'AI_PROVIDER_DETAILS.FORM.LLMURL' | translate }}
            </label>
          </span>
        </div>
        <div class="mt-3 mb-1">
          <span class="p-float-label mb-1" controlErrorAnchor>
            <input
              pInputText
              type="text"
              id="aIProvider_detail_appId"
              class="w-full pt-3 pb-2 text-responsive"
              formControlName="appId"
            />
            <label class="ocx-required-label" for="aIProvider_detail_appId">
              {{ 'AI_PROVIDER_DETAILS.FORM.APPID' | translate }}
            </label>
          </span>
        </div>
        <div class="mt-3 mb-1">
          <span class="p-float-label mb-1" controlErrorAnchor>
            <input
              pInputText
              type="text"
              id="aIProvider_detail_modelName"
              class="w-full pt-3 pb-2 text-responsive"
              formControlName="modelName"
            />
            <label class="ocx-required-label" for="aIProvider_detail_modelName">
              {{ 'AI_PROVIDER_DETAILS.FORM.MODELNAME' | translate }}
            </label>
          </span>
        </div>
        <div class="mt-3 mb-1">
          <span class="p-float-label mb-1" controlErrorAnchor>
            <input
              pInputText
              type="text"
              id="aIProvider_detail_modelVersion"
              class="w-full pt-3 pb-2 text-responsive"
              formControlName="modelVersion"
            />
            <label class="ocx-required-label" for="aIProvider_detail_modelVersion">
              {{ 'AI_PROVIDER_DETAILS.FORM.MODELVERSION' | translate }}
            </label>
          </span>
        </div>
        <div>
          <div class="p-inputgroup mt-3 mb-1" >
            <span class="p-float-label" controlErrorAnchor>
              <input
                pInputText
                [type]="isApiKeyHidden ? 'password' : 'text'"
                id="aIProvider_detail_apiKey"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="apiKey"
              />
              <label for="aIProvider_detail_apiKey">{{ 'AI_PROVIDER_DETAILS.FORM.APIKEY' | translate }} </label>
            </span>
            <a 
              *ocxIfPermission="'AI_PROVIDER#CHANGE_API_KEY'"
              class="p-inputgroup-addon bg-primary pseudo-button pi pi-eye"
              [ngClass]="{
                'pi-eye': isApiKeyHidden, 
                'pi-eye-slash': !isApiKeyHidden, 
                'cursor-pointer': (editMode$ | async),
                'p-disabled': (editMode$ | async) === false
              }"
              tabindex="0"
              (click)="toggleApiKeyVisibility()"
              (keydown.enter)="toggleApiKeyVisibility()" 
              [attr.aria-label]="'VIEW_API_KEY' | translate"
            >
            </a>
          </div>
        </div>
      </form>
    </div>
  </ocx-page-content>
</ocx-portal-page>

